@* @rendermode InteractiveServer *@

@if(Server is not null)
{
    <div data-name="@Server.Name"
            data-status="@(Server.IsOnline ? "online" : "offline")"
            style="@($"color: {(Server.IsOnline ? "green" : "red")}")">
        @Server.Name is in @Server.City that is @(Server.IsOnline ? "online" : "offline")
        &nbsp;
        <button type="button" class="btn btn-primary" @onclick="ChangeStatus">Turn On/Off</button>
    </div>
}

@code {
    private Server? Server { get; set; } = new Server { Name = "Server 1", City = "Imus, Cavite" };

    private void ChangeStatus()
    {
        if(Server is not null)
        {
            this.Server.IsOnline = !this.Server.IsOnline;
        }
    }
}
