<div data-name="@Server.Name" 
     data-status="@(Server.IsOnline ? "online" : "offline")"
     style="@($"color: {(Server.IsOnline ? "green" : "red")}")">
    @Server.Name is in @Server.City that is @(Server.IsOnline ? "online" : "offline")
</div>

@code {
    private Server Server = new() { Name = "Server 1", City = "Imus, Cavite" };
}
